<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <p>Nombre</p>
                <h5>Iván Almonacid Henríquez</h5>
            </li>
            <li class="list-group-item">
                <p>Rut</p>
                <h5>15489151-K</h5>
            </li>
            <li class="list-group-item">
                <p>Carrera</p>
                <h5>Técnico en Programación - PEV</h5>
            </li>
            <li class="list-group-item">
                <p>Sede</p>
                <h5>Valparaíso</h5>
            </li>
        </ul>
    </div>
</div>
