<!-- inclusion de archivos css y js -->
<head>
    <title>ENAP Taller Java Internet :: Biblioteca</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="resources/css/theme-cosmo.bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    
    <script src="resources/js/jquery-3.2.1.min.js"></script>
    <script src="resources/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
